.num {
  display: none;
}
.paginator {
  line-height: 150%;
}
.paginator > span {
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
  text-decoration: none;
width: 27px;
height: 27px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 100%;
transition: .3s;
margin: 0 1px;
}
.paginator > span:hover {
background-color: #1f2130;
color: #fff;
background-image: -webkit-linear-gradient(bottom, #a942f9 0%, #9d02ff 100%);
background-image: -o-linear-gradient(bottom, #a942f9 0%, #9d02ff 100%);
background-image: linear-gradient(to top, #a942f9 0%, #9d02ff 100%);
}
.paginator_active {
background-color: #1f2130;
color: #fff;
background-image: -webkit-linear-gradient(bottom, #a942f9 0%, #9d02ff 100%);
background-image: -o-linear-gradient(bottom, #a942f9 0%, #9d02ff 100%);
background-image: linear-gradient(to top, #a942f9 0%, #9d02ff 100%);
}